<h2>Result</h2>
<%= @letters %>
<%# <p>Sorry but <strong>USER WORD</strong> can't be build out of @letters</p>

does not semm to be a valid Englis word...

<strong>Congratilations</strong>USER WORD is a valid English word! %>


<%= link_to 'Play again', 'new' %>
